<nav class="d-flex row navbar navbar-expand-lg navbar-light bg-white custom-navbar">

        <div class="col-4">
            <a class="navbar-brand" href="/">
                <img src="beautify/images/logo.png" alt="Your Logo" height="60em">
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="col-8">
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/" style="margin-right: 30px;">Courses</a>
                    <a class="nav-item nav-link" href="/" style="margin-right: 30px;">Discussion</a>
                    <a class="nav-item nav-link" href="/" style="margin-right: 30px;">Donate</a>
                    <a class="nav-item nav-link" href="/" style="margin-right: 30px;">My Page</a>

                    <div>
                        <img src="beautify/images/search.png" alt="Search Icon" height="35em">
                    </div>
                    
                </div>
            </div>
        </div>


</nav>