.course-management {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 6px;
    margin-top: 20px;
    
  }
  
  
  .uploads.form-group {
    margin-bottom: 15px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .float-right {
    float: right;
  }
  
  .btn-upward {
    position: relative;
    top: -100px; 
  }
  
  
  
  .course-management.form-group {
    margin-bottom: 15px;
  }
  
  .course-management.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    margin-top: 15px; 
  }
  
  .course-management.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  .course-management.float-right {
    float: right;
  }
  
  
  .course-management #courseDescription {
    resize: none;
  }
  
  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    .course-management.float-right {
      float: none;
      display: block;
      width: 100%;
    }
  }
  
  
  .course-management.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
  }
  
  @media (max-width: 767.98px) {
    .course-management.col-form-label {
      text-align: left;
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  .course-management.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .course-management textarea.form-control {
    height: auto; 
  }
  
  
  .custom-select.options {
    overflow-y: auto;
    max-height: 30px; 
  }
  