.sidebars {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;

  height: 650px;
}

.text-center {
  padding-bottom: 1rem;
}

.img-thumbnail {
  width: 100px; /* Adjusted size */
  height: 100px; /* Adjusted size */
  border-radius: 50%; /* Makes the image round */
  margin-bottom: 1rem;
  border: 3px solid #007bff; /* Blue border for image */
}

.dash-navlink {
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem 2rem;
  background-color: #f8f9fa;
  border-radius: 0.275rem; /* Slightly rounded corners for the links */
  color: #007bff;

  font-size: 1.1rem; /* Bigger font size */
  font-weight: 500; /* Slightly bolder font */
}

.dash-navlink:hover,
.dash-navlink:focus {
  background-color: #e2e6ea;
  color: #0056b3; /* Slightly darker blue on hover/focus */
  border-left: 2px solid #0056b3;
}

.dash-navlink.active {
  color: #fff;
  background-color: #58a1f0;
  border-left: 2px solid #0056b3; /* Left border to highlight active link */
}

.bottom-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Evenly spaces the links */
  /* Fixes the position at the bottom */
  bottom: 0; /* Aligns at the bottom of the sidebar */
  width: calc(100% - 1rem); /* Full width of the sidebar minus some padding */
  background-color: rgb(
    255,
    255,
    255
  ); /* Inherits the sidebar's background color */
  padding: 0.5rem 0; /* Adds some padding above and below the links */
}

.mt-auto {
  margin-top: auto;
  padding-top: 1rem;
}

.card-dash-title {
  color: #0056b3; /* A shade of blue */
  font-weight: bold;
}

.card-dash-text {
  color: #666; /* Dark gray */
  font-size: large;
}

.card-dash {
  max-width: 60em;
  max-height: 17em;
  flex-direction: row;
  border-radius: 15px; /* Rounded corners for the card */
}

.card-body-dash {
  display: flex;
  justify-content: space-between;
}

.text-part {
  width: 60%;
}

.card-dash img {
  max-width: 20%;
  margin: auto;
  padding: 1em;
  border-radius: 0.7em;
}

/* // Content Creator Page // */
.content-creator-card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: none;
  overflow: hidden;
  width: 100%;
}

.content-creator-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #f8f9fa;
}

.content-creator-rating {
  font-weight: bold;
  color: #ffc107;
}

.content-creator-courses,
.content-creator-students {
  font-weight: 500;
}

.btn-outline-primary {
  border-color: #007bff;
  color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}
