.custom-nav-link {
	border: none;
	transition: transform 0.8s ease;
	margin: 0 10px;
	padding: 5px 10px;
	color: black;
	position: relative;
}

.custom-nav-link::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	background-color: darkred;
	transform: scaleX(0);
	transition: transform 0.5s ease;
}

.custom-nav-link:hover {
	transform: translateY(-2px);
}

.custom-nav-link:hover::after {
	transform: scaleX(1);
}

.custom-nav-link:active {
	transform: scale(0.95);
}

.header {
	border-bottom: 1px solid #ddd; /* Add smooth bottom border */
}
