.custom-form-check {
  margin-bottom: 10px;
}

.custom-form-check-input {
  display: none;
}

.custom-form-check-label {
  display: block;
  width: 300px;
  height: 10%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="checkbox"]:checked ~ .custom-form-check-label, .custom-form-check-label:hover {
  background-color: lightseagreen;
  color: white;
}

input[type="radio"]:checked ~ .custom-form-check-label, .custom-form-check-label:hover {
  background-color: lightseagreen;
  color: white;
}