<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>EduByte</title>

    <%- include ('../partials/pageheader') %>
</head>

<body>
    <div id="header" class="header d-flex align-items-center">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <%- include ('../partials/navbar') %>
                <!-- navbar partial -->
        </div>
    </div>

    <div class="container">
        <div class="row body-width">
            <h5>Lecture #|Lecture Name</h5>
            <div class="blocks">
                <h6 class="text-center">Lesson Name</h6>
                Lecture Despriction Name
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum,
                esse voluptas eveniet minus molestiae asperiores corrupti optio maxime.
                Dignissimos nemo quo odio accusantium nulla, recusandae perspiciatis veniam rerum! Veniam, sequi.
                Lecture Despriction
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum,
                esse voluptas eveniet minus molestiae asperiores corrupti optio maxime.
                Dignissimos nemo quo odio accusantium nulla, recusandae perspiciatis veniam rerum! Veniam, sequi.
                Lecture Despriction
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum
            </div>
            <div class="blocks">

                <h6 class="text-center">Lesson Name</h6>
                <div class='video-element'>
                    <div class='video-background'>
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Xt_Zz0m4BEE?enablejsapi=1"
                            frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

            </div>

            <div class="blocks">
                <h6 class="text-center">Lesson Name</h6>

                <div class='video-element'>
                    <div class='video-background'>
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Xt_Zz0m4BEE?enablejsapi=1"
                            frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="blocks">
                <div class="container">
                    <h6 class="text-center">Lesson Name</h6>
                    <button id="showPdfBtn" class="btn btn-primary pdfbtn">Show PDF</button>
                    <div class="pdf-container" style="display: none;">
                        <iframe src="/beautify/pdf/report.pdf" width="100%" height="600px"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Get references to the button and the PDF container
            var showPdfBtn = document.getElementById("showPdfBtn");
            var pdfContainer = document.querySelector(".pdf-container");
            var pdfbtn = document.querySelector(".pdfbtn");
            // Add a click event listener to the button
            showPdfBtn.addEventListener("click", function () {
                // Toggle the visibility of the PDF container
                if (pdfContainer.style.display === "none") {
                    pdfContainer.style.display = "block";
                    pdfbtn.style.display = "none";
                } else {
                    pdfContainer.style.display = "none";
                }
            });
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>