.blue-text {
	color: blue;
}
.cream-background {
	background-color: #fbeaf3;
}
.column-border {
	border-right: 1px solid #000;
}
.row-border {
	border: 3px solid #000000;
}
.hover-effect {
	background-color: #e7e2e2;
}
.hover-effect:hover {
	background-color: #b8c3fb;
}
.block-effect {
	border: 3px solid #000000;
	background-color: #d7f1c5;
}
.block-effect:hover {
	background-color: blanchedalmond;
	cursor: pointer;
}
.bold-text {
	font-weight: bold;
}
.custom-link {
	color: inherit; /* Use the color of the parent element */
	text-decoration: none; /* Remove the underline */
}
