/* CoursesSection.css */

.course-card {
    background-color: #b8e5ff;
    transition: background-color 0.3s ease;
}

.course-card:hover {
    background-color: #cadee6;
}

.course-card h6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.course-section {
    margin-bottom: 3px;
    background-color: #f5f5f5;
    background-image: linear-gradient(to right, #f5f5f5, #f5f5f5);
}